$primary-color :  hsl(172, 67%, 45%);

$dark : hsl(183, 100%, 15%);
$dark-gray-1: hsl(186, 14%, 43%);
$dark-gray-2: hsl(184, 14%, 56%);
$light-gray-1: hsl(185, 41%, 84%);
$light-gray-2: hsl(189, 41%, 97%);
$c-white: hsl(0, 0%, 100%);
$danger: rgb(206, 27, 27);

// font-size
$input-font : 24px;
$font-xl : 33px;
$font-lg : 24px;
$font-nm : 16px;
$font-sm : 14px;


// font-weight
$weight-l: 400;
$weight-n: 500;
$weight-h: 700;